<template class="text-center">
  <v-row >
    
    <v-col cols="3">
      <v-spacer></v-spacer>
    </v-col>

    <v-col cols="6">
      <v-card elevation="2" outlined shaped>
        <v-card-title>Novo pedido</v-card-title>
        <v-form>
          <v-container>
            
            <v-row class="text-center">
              <v-col cols="12">
                <!-- Nome do Cliente -->
                <v-text-field 
                  v-model="pedido.nome"
                  label="Nome do cliente" 
                  :rules="nomeRules" 
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row class="text-center">
              <v-col cols="6">
                <!-- ìtem escolhido -->
                <v-select 
                  v-model="pedido.item"
                  :items="items"
                  label="Ítem"
                  :rules="itemRules"
                  required
                  outlined
                ></v-select>
              </v-col>
              
              <v-col cols="6">  
                <!-- Quantidade do ítem escolhido --> 
                <v-slider
                  v-model="pedido.quantidade"
                  :min="quant.min"
                  :max="quant.max"
                  label="Quantidade"
                  thumb-label="always"
                  class="mt-7"
                ></v-slider>
              </v-col>
            </v-row>
            
            <v-row class="text-center">
              <v-col cols="12">
                <!-- observações do pedido -->
                <v-textarea 
                  v-model="pedido.observacao"
                  label="Observações"
                  outlined
                  auto-grow
                  rows="3"
                ></v-textarea>
              </v-col>
            </v-row> 

            <v-row class="text-center">
              

              <v-col cols="4">
                <v-btn 
                  block
                  elevation="3"
                  color="secondary"
                  @click="limpar"
                >Limpar</v-btn>
              </v-col>
              
              <v-col cols="1">
                <v-spacer></v-spacer>
              </v-col>

              <v-col cols="7">
                <v-btn
                  block
                  elevation="2"
                  color="primary"
                  @click="pedir(pedido)"
                >Pedir</v-btn>
              </v-col>
            </v-row>

            
          </v-container>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  data: () => ({

    pedido:{},

    quant:{
      min: 1,
      max: 8
    },

    items: [
      'Gigante',
      'Cebola Quente',
      'Churras',
      'Galinha Grelhada',
    ],
    
    nomeRules: [
      v => !!v || 'O nome não pode ficar em branco',
      v => (v && v.length >= 2) || 'Nome muito pequeno',
    ],
    
    itemRules: [
      v => !!v || 'Escolha um ítem'
    ]
  }),


  //mapState
  computed: {
    ...mapState([
      'pedidos'
    ])
  },

  //mapActions
  methods: {
    ...mapActions([
      'addPedido'
    ]),
    limpar() {
      this.pedido = ''
    },
    pedir(pedido) {
      this.addPedido(pedido)
    }
  }

};
</script>
