<template>
  <v-app>
    <v-app-bar app color="secondary" dark>
      
      <v-spacer></v-spacer>

      <!-- <v-btn text>
        <router-link to="/">Home</router-link>
      </v-btn>

      <v-btn text>
        <router-link to="/about">About</router-link>
      </v-btn> -->

      <v-btn text>
        <router-link to="/pedido/novo">Novo pedido</router-link>
      </v-btn>

      <v-spacer></v-spacer>

      
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row >
          <router-view/>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
    //HelloWorld,
  },

  data: () => ({
    //
  }),
};
</script>
